{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-white border-top-green">
                    <div class="panel-body chat">
                        <div class="row chat-wrapper">
                            <div class="col-md-4">
                                <div class="compose-area">
                                    <a href="/chat/create" class="btn btn-default"><i class="fa fa-edit"></i> Create
                                        Group
                                    </a>
                                </div>
                                <div>
                                    <div class="slimScrollDiv"
                                         style="position: relative; overflow: hidden; width: auto; height: 550px;">
                                        <div class="chat-list-wrapper"
                                             style="overflow-y: auto; width: auto; height: 550px;">
                                            <ul class="chat-list">
                                                {% for chat in chats %}
                                                    <li class="new">
                                                        <a href="/chat/{{ chat.id }}">

                                                    <span class="avatar available">
                                                        <img src="https://www.iconpacks.net/icons/1/free-user-group-icon-296-thumb.png"
                                                             alt="avatar" class="img-circle">
                                                    </span>
                                                            <div class="body">
                                                                <div class="header">
                                                                    <span class="username">{{ chat.name }}</span>
                                                                    <small class="timestamp text-muted">
                                                                        <i class="fa fa-clock-o"></i> {{ chat.time }}
                                                                    </small>
                                                                </div>
                                                                <p> {{ chat.participants_summary }}</p>
                                                            </div>
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="slimScrollBar"
                                             style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 478.639px; background: rgb(0, 0, 0);"></div>
                                        <div class="slimScrollRail"
                                             style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>
                                    </div>
                                </div>
                            </div>

                            {% if chat %}
                                <div class="col-md-8">
                                    <h3> {{ chat.name }}</h3>
                                    <div class="slimScrollDiv"
                                         style="position: relative; overflow: hidden; width: auto; height: 452px;">

                                        <div class="message-list-wrapper"
                                             style=" width: auto; height: 452px;">
                                            <ul id="message-list" class="message-list">
                                                <li class="left" id="loading-messages" style="color: black">
                                                    Loading Messages...
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="slimScrollBar"
                                             style="width: 7px; position: absolute; top: 265px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 187.092px; background: rgb(0, 0, 0);"></div>
                                        <div class="slimScrollRail"
                                             style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>
                                    </div>

                                    <div class="compose-box">
                                        <div class="row">
                                            <div class="col-xs-12 mg-btm-10">
                                                <div class="form-group">
                                                <textarea aria-label="area"
                                                          id="message-input" name="message-input"
                                                          class="form-control"
                                                          placeholder="Type your message here..."
                                                          style="width: 600px"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <button id="send-button" name="send-button"
                                                        class="clickable btn-secondary border-top-green p-2">
                                                    <i class="fa fa-location-arrow"></i> Send
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        {% if chat %}

            $(() => {
                {#$(".chat-list-wrapper, .message-list-wrapper").niceScroll();#}

                const sendMessage = (event) => {
                    const text = $("#message-input").val();
                    $("#message-input").val("");
                    $.post('/chat/{{ chat.id }}/send', {text: text, csrfmiddlewaretoken: '{{ csrf_token }}'},
                        (response) => {
                            console.log(response);
                        });
                };

                $("#send-button").bind('click', sendMessage);

                let chat_list = [];
                const getMessageElement = (message) => {
                    const {text, date, user: {id, first_name, last_name}} = message;
                    const current_user_id = '{{ current_user.id }}';
                    const direction = id == current_user_id ? 'right' : 'left';
                    const image = id == current_user_id ? "https://png.pngtree.com/png-vector/20191104/ourmid/pngtree-businessman-avatar-cartoon-style-png-image_1953664.jpg" : "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2QFaQyezndgniERWn-5S9oNrdXzK9yALQCj_V384ErrrH7il5bou3nGTREZCPMsoCjGY&usqp=CAU"

                    return `
                <li class="` + direction + `">
                    <span class="username">` + (first_name + ' ' + last_name) + `</span>
                    <small class="timestamp">
                        <i class="fa fa-clock-o"></i> ` + new Date(date).toLocaleString() + `
                    </small>
                    <span class="avatar available tooltips" data-toggle="tooltip "
                          data-placement="right" data-original-title="Yanique Robinson">
                    <img src="` + image + `"
                         alt="avatar" class="img-circle">
                </span>
                    <div class="body">
                        <div class="message well well-sm">
                            ` + text + `
                        </div>
                    </div>
                </li>
                `
                }

                const appendMessage = (message) => {
                    const htmlElement = getMessageElement(message);
                    $('#message-list').append(htmlElement);
                }

                const renderChat = (new_chat_list) => {
                    const lodaingMessages = $('#loading-messages');
                    if (lodaingMessages)
                        lodaingMessages.remove()

                    console.log(new_chat_list)

                    if (chat_list.length === new_chat_list.length)
                        return;

                    for (let i = chat_list.length; i < new_chat_list.length; i++) {
                        console.log("Append" + i);
                        appendMessage(new_chat_list[i]);
                    }

                    chat_list = new_chat_list;
                    const elem = document.getElementById('message-list');
                    elem.scrollTop = elem.scrollHeight;
                }

                const updateChat = () => {
                    fetch('/chat/{{ chat.id }}/data')
                        .then(response => response.json())
                        .then(data => {
                            renderChat(data.messages);
                        })
                }

                setInterval(updateChat, 1200);
            })
        {% endif %}
    </script>
{% endblock %}